.fullscreen
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0

.statScreenRow
    background-color: #222222
    padding: 0
    width: 430px
    z-index: 10

.mazeScreen
    z-index: 9
    position: relative
    width: 1920-430px
    margin-top: -40px
    margin-left: -40px

.emblem
    display: inline-block
    width: 64px
    height: 64px
    background: url('../../../assets/spritesheet.png')
    background-size: 4096px 3072px
    background-position: -53*64px -22*64px
