<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Player names</h5>
      </div>
      <div class="modal-body">
        <input *ngFor="let name of names" class="form-control" type="text">
      </div>
      <div class="modal-footer">
        <button (click)="newName()" class="btn btn-lg btn-primary" type="button">Add</button>
        <button (click)="startGame()" class="btn btn-lg btn-secondary" type="button">Start</button>
      </div>
    </div>
  </div>
</div>
